body { 
    margin: 0; 
    width: 100;
    height: 100%;
    /* background-color: #fec115; */
    background-color: white;
}

#card-container {
    width: 100vw;
    height: 100vh;
    /* background-color: #fec115; */
}